{%extends 'base.html'%}

{%block content%}

<div class="center">
	<form method="post" class="card">
	  {% csrf_token %}
	  <h2>Password Reset Confirm</h2>
	  
	  {% for field in form %}
	    		{{ field.label_tag }} 
	        	{{ field }}
	        	{% if field.errors %}
	        		<small>{{ field.errors|striptags  }}</small> 
	        	{% endif %}
		{% endfor %}
	  
	  <div>
	    <button type="submit" class="btn btn-primary" style="border-radius:2rem">Reset Password</button>
	  </div>
	</form>
</div>

<script src="https://kit.fontawesome.com/9b3946862c.js" crossorigin="anonymous"></script>
	<div class="container-fluid mt-2" style="background-color: DodgerBlue; width: 100%; height: 235px; border-radius:5rem">
		<div class="row" style="height: 100px;background-color: DodgerBlue;">
			<div class="col-md-4">
				<h3 style="color: aliceblue;" style="font-family: Georgia, 'Times New Roman', Times, serif">Contact Us</h3>
				<a href="https://www.facebook.com/"><i class="fa-brands fa-facebook-f fa-xl" style="color: aliceblue;"></i></a>&nbsp; 
				<a href="https://in.linkedin.com/"><i class="fa-brands fa-linkedin-in fa-xl" style="color: aliceblue;"></i></a>&nbsp; 
				<a href="https://gmail.com/"><i class="fa-regular fa-envelope fa-xl" style="color: aliceblue;"></i></a>&nbsp; 
				<a href="https://gmail.com/"><i class="fa-brands fa-whatsapp fa-xl" style="color: aliceblue;"></i></a>&nbsp; 
				<a href="https://gmail.com/"><i class="fa-brands fa-instagram fa-xl" style="color: aliceblue;"></i></a>&nbsp;   
				<!-- <hr style="color: aliceblue;width: 307%;"> -->
			  
			</div>
			<hr style="color: aliceblue; width: 100%;">
		</div>
		<p style="color: aliceblue; position: absolute; right: 600px;">Copyright &copy;2023 Group-5. All rights reserved.</p><br>
		

{%endblock content%}